:root{
  --border-color: hsl(0, 0%, 51%);
  --border-radius: 20px;
  --space: 1rem;
}



  & main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-evenly;
    padding-bottom: 10px;
   }


article {
 display: flex;
 flex-direction: column;
 overflow: hidden;
 margin-top: 10px;
 margin-left: 10px;


  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  width: 350px;
  line-height: 1.5rem;
  

  & header {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid var(--border-color);
    padding: var(--space);

    & a {
      display: flex;
      text-decoration: none;
      align-self: center;
      align-items: center;
    }

    & h1 {
      font-size: 1.75rem;
      color: black;
    }

  }

  & main {
    display: flex;
    flex-direction: column;
   
    
    padding: var(--space);
    
    
    width: inherit;
    & img {
      display: block;
      width: inherit;
    }

    & h1 {
      font-size: 1.75rem;
      color: black;
    }

  }

   & main:has(img){
    padding: 0;
    overflow: hidden;
    margin: 0;
  }

  & footer {
    

    border-top: 1px solid var(--border-color);
    & ul {
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 0;
      align-items: center;
      

      & li{
        flex: 1;
        display: flex;
        justify-content:  center;
        padding-top: 1rem;
        margin-bottom: 1rem;
      }

      & li:not(:first-child){
        border-left: 1px solid var(--border-color);
      }

       & > li:hover {
      color: rgb(103, 103, 103); 

    }   



    }
  }
}





