:root {
}

body {
  overflow: hidden;
  color: black;
  display: grid;

  grid-template-areas: 
      "section header"
      "section main"
      "footer footer";

  grid-template-columns: 150px 1fr;
  grid-template-rows: 60px 1fr 20px; /*CORRETTO colore bianco sopra footer*/
  height: 100vh;

   @media (max-width: 600px){
      grid-template-columns: 30px 1fr;
   }
  
  
}

body > section {
  border-right: 1px solid var(--border-color);
  grid-area: section;
  & ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
    
    & li {
      display: flex;
      justify-content: center;
      padding-top: 1rem;
      & span{
        display: none;
      }
    }
 
    & li > a {
      color: #999;
      font-size: 14px;
      text-decoration: none;
    }

    & li > a:hover {
      color: black; 

    }    
  }


  @media (min-width: 600px){
    padding-left: 8px;
    & ul li {
      justify-content: flex-start;
      & span{
        display: inline;
      }
    }
  }
}

body > header {
  border-bottom: 1px solid var(--border-color);
  grid-area: header;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  & h1 {
    font-size: 1.75rem;
    padding: 5px;
    flex-grow: 100;
  }

  & i{
    flex-grow: 1;
    padding: 5px;
  }
}

body > main {
  grid-area: main;
  /* height: calc(100vh - 100px); */ /* TOGLIENDO STA ROBA SI RISOLVE PROBLEMA BIANCO SOPRA FOOTER */
  overflow-y: scroll;
}

body > footer {
  grid-area: footer;
  border-top: 1px solid var(--border-color);
  background-color: #f0f0f0;
  
   

  & div{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & i{
    padding-left: 5px;
    padding-right: 5px;
  }
}


